body,
html {
    width: 100%;
    height: 100%;
}

div#content {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* -- SEARCH BAR -- */

#cari {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
    padding: 8px 10px 8px 20px;
    background: #fff;
    box-shadow: 1px 1px 1px #888888;
    font-size: 10pt;
    border-radius: 0 0 5px 0;
}

#cari>img {
    height: 30px;
    width: 30px;
    margin-right: 15px;
}

input {
    display: inline;
    height: 30px;
    width: 220px;
    padding: 3px 2px 3px 10px;
}


/* -- DASHBOARD BUTTONS -- */

#btn-dbk {
    position: absolute;
    top: 7px;
    left: 310px
}

#btn-dbm {
    position: absolute;
    top: 7px;
    left: 350px;
}

button.dash {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    border: 0;
    background: transparent;
    outline: 0;
}

button.dash .icon {
    position: relative;
    background: #fff;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #535353;
    font-size: 14px;
    -webkit-transition: .2s color;
    transition: .2s color;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
}

button.dash .icon .fa {
    width: 20px;
    -webkit-transition: .2s all;
    transition: .2s all;
}

button.dash .icon:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
    bottom: 0px;
    right: 12.5px;
    -webkit-transition: .2s right;
    transition: .2s right;
    z-index: 1;
}

button.dash .text {
    position: relative;
    width: 0;
    height: 30px;
    overflow: hidden;
    font-size: 8pt;
    background: #3B8686;
    top: 30px;
    left: -30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-weight: 300;
    -webkit-transition: .2s all;
    transition: .2s all;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

button.dash .text span {
    width: 100%;
    opacity: 0;
    position: absolute;
    top: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: .3s all;
    transition: .3s all;
}

button.dash:hover .icon {
    color: #3B8686;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

button.dash:hover .icon:after {
    bottom: -2px;
}

button.dash:hover .text {
    width: 150px;
}

button.dash:hover .text span {
    opacity: 1;
    top: 0;
}



/* -- SIDEBAR BUTTONS -- */

#btn-apbdes {
    position: absolute;
    top: 100px;
}

#btn-luasdesa {
    position: absolute;
    top: 140px;
}

#btn-penduduk {
    position: absolute;
    top: 180px;
}

#btn-pendidikan {
    position: absolute;
    top: 220px;
}

#btn-listrik {
    position: absolute;
    top: 260px;
}

#btn-pengairan {
    position: absolute;
    top: 300px;
}

#btn-komunikasi {
    position: absolute;
    top: 340px;
}

#btn-potensi {
    position: absolute;
    top: 380px;
}

button.side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    border: 0;
    background: transparent;
    outline: 0;
    overflow: hidden;
}

button.side .icon {
    position: relative;
    background: #fff;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #535353;
    font-size: 14px;
    -webkit-transition: .2s color;
    transition: .2s color;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
}

button.side .icon .fa {
    width: 20px;
    -webkit-transition: .2s all;
    transition: .2s all;
}

button.side .icon:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
    top: 12.5px;
    right: 1px;
    -webkit-transition: .2s right;
    transition: .2s right;
    z-index: 1;
}

button.side .text {
    position: relative;
    width: 0;
    height: 30px;
    overflow: hidden;
    font-size: 8pt;
    background: #3B8686;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-weight: 300;
    -webkit-transition: .2s all;
    transition: .2s all;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button.side .text span {
    width: 100%;
    opacity: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: .3s all;
    transition: .3s all;
}

button.side:hover .icon {
    color: #3B8686;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button.side:hover .icon:after {
    right: -2px;
}

button.side:hover .text {
    width: 150px;
}

button.side:hover .text span {
    opacity: 1;
    top: 0;
}
